<!DOCTYPE html>
<html>
<head>
  <!-- Links to CSS and JS static files, files labeled by HTML file name
  then file type (i.e. resultsStyle.css) -->
  <link rel="stylesheet" style="text/css" href="static/aboutStyle.css">
  <script src="static/homeScript.js"></script>

  <title>WildView</title>

  <div class="sqs-slide-container alignment-center gallery-style-full grid-gallery-density-medium grid-gallery-ratio-original grid-gallery-image-orientation-landscape grid-gallery-direction-horizontal   countdown-numeric-label-font-size-medium  page-border-size-medium auto-overlay auto-image-background-color video-overlay-color-blend-mode-normal button-style-outline button-shape-pill social-icons-size-medium social-icons-style-regular social-icons-shape-rounded  audio-player-icons-size-small audio-player-icons-style-border audio-player-icons-shape-circle  video-icon-size-extra-small video-icon-style-border video-icon-shape-square map-style-minimal-light lock-size-small lock-style-regular lock-shape-circle password-style-rectangle" id="yui_3_17_2_1_1469463938034_118">

<!-- THIS IS THE HOME PAGE STUFF (WITHOUT THE SLIDESHOW) -->

    <div class="sqs-slide  yui3-videofullcenter01 yui3-videofullcenter01-content sqs-slide-ready" data-slide-id="5530cba0e4b0762b241378d5" data-slide-layout-id="video-full-center-01" data-slide-type="cover-page" id="yui_3_17_2_1_1469463938034_117">
      <div class="sqs-slide-layer layer-back full-width-height" id="yui_3_17_2_1_1469463938034_532">

    <div class="sqs-slide-layer-content" id="yui_3_17_2_1_1469463938034_531">
      <div class="sqs-slice sqs-gallery-design-stacked yui3-widget sqs-slice-gallery sqs-slice-gallery-content" data-slice-type="gallery" data-slice-id="5530cf19e4b0478bc8939bf1" id="yui_3_17_2_1_1469463938034_161" style="background-color: rgb(37, 37, 38);">

        <div class="sqs-slice-gallery-item content-fill sqs-gallery-design-stacked-slide loaded"
        data-average-color="{&quot;topLeftAverage&quot;:&quot;5c67a5&quot;,&quot;topRightAverage&quot;:&quot;1c4e9c&quot;,&quot;bottomLeftAverage&quot;:&quot;554342&quot;,&quot;bottomRightAverage&quot;:&quot;1b2034&quot;,&quot;centerAverage&quot;:&quot;dcb294&quot;,&quot;suggestedBgColor&quot;:&quot;495c9e&quot;}"
        style="opacity: 1;
        z-index: 889;
        background-image: url("DSC00462.JPG");
        background-color: rgb(73, 92, 158);
        background-size: cover;
        background-position: 50% 50%;"
        id="teampicture"
        data-type="image">
          <img data-src="DSC00462.JPG" data-image-dimensions="1800x1800" data-image-focal-point="0.5,0.5" data-use-bg-image="true" style="display: none;" alt="teampicture.jpg" class="loaded" src="DSC00462.JPG?format=2500w" id="yui_3_17_2_1_1469463938034_530" data-image-resolution="2500w">
        </div>


</head>
<body>


<!-- This is the navigation pane -->
  <ul id="navigation">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/search">Search</a></li>
  </ul>

</body>
</html>
