<!DOCTYPE html>
<html>
<head>
  <!-- Links to CSS and JS static files, files labeled by HTML file name
  then file type (i.e. resultsStyle.css) -->
  <link rel="stylesheet" style="text/css" href="static/aboutStyle.css">
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <title>About-WildView</title>



</head>
<body>



<!-- This is the navigation pane -->

<ul id="NavigationBar" style= "list-style-type: none;">
  <li><a href="/contact">Contact</a></li>
  <li><a href="/search">Search</a></li>
  <li><a href="/about">About</a></li>
  <li style="float:left;"><a class="active" href="/"><img style="width: 90px; height 90px;" id="WildViewlogo.jpg" src="static/WildViewlogo.jpg"></a></li>

</ul>

<center>
<p> /n </p>
<p> /n </p>

<p>
<!--  <img id="pawprints" src="static/pawprints.jpg"> -->
<h1>About: </h1>
</p>
</center>

  <p>

        <img id="teampicture" src="static/teampicture.JPG">

<div id="AboutTextBox">
  <h2>WildView is the final project of three newbie coders learning and working in Google's Seattle office for 3 weeks. It aims to bring scientific observations of the natural world to everyday users. Our team is called the Visionaries, and we are extremely excited to share our app with the world! Enjoy the wild.<h2>
</p>
</div>





</body>
</html>
