<!DOCTYPE html>
<html>
<head>
  <!-- Links to CSS and JS static files, files labeled by HTML file name
  then file type (i.e. resultsStyle.css) -->
  <link rel="stylesheet" style="text/css" href="static/aboutStyle.css">
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>


  <title>About-WildView</title>



</head>
<body>



<!-- This is the navigation pane -->

<ul id="NavigationBar" style= "list-style-type: none;">
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>

<center>
<p> /n </p>
<p> /n </p>

<p>
<h1>About: </h1>
</p>
</center>

<center>
  <p><img id="teampicture" src="static/teampicture.JPG" width="300" height="200"</p>
</center>






</body>
</html>
