<!DOCTYPE html>
<html>
  <head>

    <title>Search-WildView</title>

    <!-- References to the CSS and JS static files -->
    <link rel="stylesheet" type="text/css "href="static/searchStyle.css">
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
    <script src="static/searchScript.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script
      src="https://www.inaturalist.org/observations.widget"></script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCox6FVrjOmNWgopbydRHoRTtCG_UbP-Ho&libraries=places&visualization">
    </script>
    <script>
    function setup() {
      initMap();
      initAutocomplete();
    }
    $( document ).ready( setup );

    $.ajax({
        url: "https://www.inaturalist.org/observations.json",
        type: "GET",
        dataType: 'json',
        cache: true,
        success: function (data, status, error) {
          console.log('success', data);
        },
        error: function (data, status, error) {
          console.log('error', data, status, error);
        }
    });
</script>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

  </head>
  <body>
    <!-- This is the navigation pane -->

    <ul id="NavigationBar" style= "list-style-type: none;">
      <li><a href="/contact">Contact</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/about">About</a></li>
      <li style="float:left;"><a class="active" href="/"><img style="width: 70px; height 70px;" id="WildViewlogo.jpg" src="static/WildViewlogo.jpg"></a></li>

    </ul>
    <!-- End of navigation pane -->

    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>



  </body>
</html>
