<!DOCTYPE html>
<html>
  <head>

    <title>Search-WildView</title>

    <!-- References to the CSS and JS static files -->
    <link rel="stylesheet" type="text/css "href="static/updatesStyle.css">
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!-- This is the navigation pane -->

    <ul id="NavigationBar" style= "list-style-type: none;">
      <li><a href="/contact">Contact</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/about">About</a></li>
      <li style="float:left;"><a class="active" href="/"><img style="width: 90px; height 90px;" id="WildViewlogo.jpg" src="static/WildViewlogo.jpg"></a></li>

    </ul>
    <!-- End of navigation pane -->
  </body>
</html>
